.opening-hours-container{
  display:flex;
}

.right-col{
  margin-left: 100px;
  display: flex;
  align-items: center;
}

.card#smart-card[data-status="soon"]{
  background:#F2811E;
  box-shadow: 0 12px 84px #D6AD88;
  color: #FFF;
}
.card#smart-card[data-status="open"]{
  background:#1ef28f;
  box-shadow: 0 12px 84px #88d6b8;
  color: #121212;
}
.card#smart-card[data-status="close"]{
  background:#f21e41;
  box-shadow: 0 12px 84px #d68892;
  color: #FFF;
}

.card{
  min-width: 375px;
  grid-template-columns: 250px auto;

  padding: 32px;
  border-radius: 8px;

  font-family: 'Circular Std Book', sans-serif;
  font-size: 18px;

  color: #121212;
  box-shadow: 0 12px 84px rgba(189, 196, 214, .5);

  user-select: none;
}

.card#smart-card, .card#smart-card .content{
  justify-content: center;
}

.card:not(:last-child){
  margin-bottom: 24px;
}

.card svg{
  height: 24px;
}

.card .feather-calendar{
  margin-top: -3px;
}

.card .content{
  display:flex;
  align-items: center;
}

.card .content span{
  margin-left: 8px;
}